<a href="https://colab.research.google.com/github/jiseon2/practice/blob/main/while_%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#Exercise 1

N = input()
N = int(N)

i=1

while(i <= N):
  print("*" * i)
  i = i + 1

8
*
**
***
****
*****
******
*******
********

In [9]:
#Exercise 2

n = input('수를 입력하세요 : ')
n = int(n)

while (n != 1) :
  if (n % 2 == 1) :
    n = n * 3 + 1
  else :
    n = n / 2           # 11 대신 "n // 2"로 해도 정수 나옴, 몫
  n = int(n)
  print(n)

print('역시 클라츠 대단하네요.')

수를 입력하세요 : 3
10
5
16
8
4
2
1
역시 클라츠 대단하네요.

In [12]:
n = input('수를 입력하세요 : ')
n = int(n)

while (True) :
  if (n % 2 == 1) :
    n = n * 3 + 1
  else :
    n = n // 2
  print(n)
  if (n == 1) :
    break

print('역시 클라츠 대단하네요.')

수를 입력하세요 : 3
10
5
16
8
4
2
1
역시 클라츠 대단하네요.

In [6]:
#Exercise 3

sales = input()
sales = int(sales)
max = sales
min = sales

while (True) :
  sales = input()
  sales = int(sales)
  if (sales < 0 or sales > 100000000) :
    break
  if (sales > max):
    max = sales
  if (sales < min):
    min = sales


print("최고 매출액 :", max)
print("최저 매출액 :", min)

10
20
500
-3
최고 매출액 : 500
최저 매출액 : 10